.places .articles_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places h1{
	font-size: 30px;
}
.places article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: #FF5A5F solid 1px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.places article h2{
	font-size: 30px;
	text-align: center;
}
